/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2018, 4:16:47 PM
    Author     : Zaw Lwin Phyo
*/
.custom-button{
    -fx-background-color: #b2b2b2;
    -fx-text-fill: #fff;
        
}
.custom-icon{
    -fx-fill: #00f;
}
